.popup__close:before, .popup__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  border: none;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.main {
  padding: 80px 0;
}
.main__title {
  margin-bottom: 40px;
}
.main__text {
  margin-bottom: 20px;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 60px;
}

.title {
  text-align: center;
}

.push {
  padding: 4px;
  cursor: pointer;
  color: red;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__content {
  width: 80%;
  height: 80%;
  margin: auto;
  background-color: #fff;
  padding: 40px;
}
.popup__form {
  margin: 80px auto 0;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup__label {
  text-align: center;
  margin-bottom: 5px;
}
.popup__input {
  padding: 4px 8px;
  border: 1px solid #333;
  margin-bottom: 15px;
}
.popup__submit {
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
}
.popup__close {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 32px;
  height: 32px;
  background-color: yellow;
  opacity: 0.8;
  cursor: pointer;
}
.popup__close:hover {
  opacity: 1;
}
.popup__close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
